:root {
    --table-headers-height: 60px;
    --grid-gap-size: 10px;
    --cell-vertical-padding: 15px
}

body {
    /* background: rgb(197, 221, 221); */
    background-color: #c4cbdd;
    margin: 0;
}

.App {
    max-width: 95%;
    margin: auto;
}

.main-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: min-content min-content min-content;
    grid-column-gap: var(--grid-gap-size);
    grid-row-gap: var(--grid-gap-size);
    grid-template-areas: 
    "map card"
    "map search"
    "map stats";
    height: 100vh;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

@media only screen and (max-width: 1300px) {
    :root {
        font-size: 15px;
    }
}

@media only screen and (max-width: 1150px) {
    :root {
        --table-headers-height: 50px;
        --cell-vertical-padding: 10px;
    }

    .main-container {
        grid-template-columns: 2fr 3fr;
        grid-template-rows: min-content min-content 1fr;
        grid-template-areas: 
            "search stats"
            "card stats"
            "map map";
    }

    .table-body {
        max-height: calc(34vh - var(--table-headers-height) + var(--grid-gap-size));
    }

}

@media only screen and (max-width: 700px) {
    :root {
        --table-headers-height: 40px
    }
    .main-container {
        grid-template-columns: 1fr;
        grid-template-rows: min-content 1fr min-content min-content;
        grid-template-areas: 
            "card"
            "map"
            "search"
            "stats";
    }
    .country-card {
        height: 25vh;
    }
}

