body {
    background: rgb(197, 221, 221);
    margin: 0;
}

.App {
    max-width: 95%;
    margin: auto;
    padding-top: 10px;
}

.main-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 300px 600px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-areas: 
    "map card"
    "map stats";
}

.leaflet-container {
    margin: 0;
    background-color: #d9ebeb;
    grid-area: map;
}
