:root {
    --table-headers-height: 60px
}

body {
    /* background: rgb(197, 221, 221); */
    background-color: #c4cbdd;
    margin: 0;
}

.App {
    max-width: 95%;
    margin: auto;
}

.main-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: min-content min-content;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-areas: 
    "map card"
    "map stats";
    height: 100vh;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

@media only screen and (max-width: 1300px) {
    :root {
        font-size: 15px;
    }
}

@media only screen and (max-width: 1150px) {
    .main-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 2fr;
        grid-template-areas: 
            "card stats"
            "map map";
    }

    .statistics-container {
        max-height: 35vh;
    }
    .table-body {
        max-height: calc(30vh - 60px);
    }
    .country-card {
        height: 35vh;
    }

}

@media only screen and (max-width: 700px) {
    .main-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr;
        grid-template-areas: 
            "card"
            "map"
            "stats";
    }
    .country-card {
        height: 25vh;
    }
}

