.country-card {
    grid-area: card;
    font-family: 'Poppins', sans-serif;
    background: #eee;
    height: 30vh;
    box-sizing: border-box;
    font-size: 0.8rem;
    overflow: hidden;
    border-radius: 10px;
}

.flex-container {
    display: flex;
    box-sizing: border-box;
}

/* Flag and name container */

.country-card img {
    max-height: 100%;
    max-width: 100%;
}
.card-header {
    align-items: center;
    height: 30%;
}
.header-left {
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
    padding: 7px;
    background-color: #6672da79;
}
.header-right {
    align-items: center;
    width: 60%;
    height: 100%;
    padding: 15px;
    background-color: #aab0e43a;
}
.country-name {
    font-size: 1.3em;
    line-height: 1.1;
    font-weight: 700;
}
.country-info {
    font-size: 1em;
}


/* Card Empty */

.empty-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
}
.empty-card-container h4 {
    color: #333;
}



/* ---- */

.card-legend {
    width: 75%;
    margin: auto;
    padding: 10px 0;
}
.card-legend i {
    height: 0.7rem;
    width: 0.7rem;
    float: left;
    margin-right: 5px;
    box-sizing: border-box;
}
.card-legend span {
    font-size: 0.7rem;
    margin: 0;
    padding: 0;
    line-height: 1.1;
}
.card-legend span:nth-child(2) {
    margin-right: 1rem;
}


.data-row {
    width: 75%;
    margin: auto;
    padding: 10px 0;
    justify-content: center;
}

.column-1 {
    width: 50%;
    box-sizing: border-box;
    margin-right: 10px;
}
.column-2 {
    width: 50%;
    margin-left: 10px;
    box-sizing: border-box;
}

/* Text */

.data-item h1, .data-item h5, .data-item h4  {
    margin: 0;
    line-height: 1;
}

.data-item h1 {
    font-size: 1.4rem;
    font-weight: 300;
    margin-bottom: 0.5rem;
}
.data-item h5 {
    font-size: 0.7rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
}
.data-item h4 {
    font-size: 0.8rem;
    font-weight: 400;
}


/* Lines */

.average-line {
    height: 5px;
    background-color: #C4C4C4;
    min-width: 1px;
}
.country-line {
    height: 5px;
    background-color: #6671DA;
    min-width: 1px;
}