.country-card {
    grid-area: card;
    font-family: 'Poppins', sans-serif;
    background: #eee;
    height: 30vh;
    box-sizing: border-box;
    padding: 20px;
    font-size: 14px;
    overflow: auto;
    border-radius: 10px;
}

.country-card img {
    height: 80px;
}