.country-card {
    grid-area: card;
    font-family: 'Poppins', sans-serif;
    background: #eee;
    height: 30vh;
    box-sizing: border-box;
    font-size: 0.8rem;
    overflow: hidden;
    border-radius: 10px;
}

.country-card img {
    max-height: 100%;
    max-width: 100%;
}
.top-container {
    display: flex;
    align-items: center;
    height: 30%;
}
.left-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
    padding: 7px;
    box-sizing: border-box;
    background-color: #9fa7bb;
}
.right-container {
    display: flex;
    align-items: center;
    width: 60%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
    background-color: #b6bdce;
}


.country-name {
    font-size: 1.3em;
    font-weight: 700;
}
.country-info {
    font-size: 1em;
}

.bottom-large-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 70%;
}
.bottom-container {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-around;
}
.country-data {
    width: 33%;
    text-align: center;
}
.data-title {
    font-size: 1.1em;
    font-weight: 600;
}
.data-content {
    font-size: 0.9em;
}

/* Card Empty */

.empty-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.empty-card-container h4 {
    color: #333;
}



/*  */
.card-info {
    padding: 0px 0;
    height: 70%;
    box-sizing: border-box;
}

.info-row {
    width: 100%;
    display: flex;
    align-items: center;
    height: calc(100% / 6);
}
.info-row:nth-child(odd){
    background-color: white;
}

.info-title {
    width: 40%;
    padding-left: 10%;
    box-sizing: border-box;
    font-size: 0.9rem;
    font-weight: 500;
}
.info-content {
    width: 60%;
    font-size: 0.7rem;
    font-weight: 400;
    padding-left: 15px;
    box-sizing: border-box;
}