.header-container {
    font-family: 'Poppins', sans-serif;
    background: var(--navbars-color);
    color: white;
}

/* Navbar */

header {
	height: 7vh;
	box-sizing: border-box;
	width: 90%;
	margin: auto;
	display: flex;
	align-items: center;
}

header div {
	flex: 1;
}

@media only screen and (max-width: 600px) {
	header {
		height: 12vh;
		padding: 8px;
		flex-wrap: wrap;
	}
	.search-container {
		order: 2;
	}
	.input-container {
		max-width: 100%;
	}
	.logo {
		flex-basis: 50%;
	}
	.toggle-container {
		flex-basis: 50%;
	}
}

/* Logo */

.logo {
	display: flex;
	align-items: center;
}
.logo span {
	margin-left: 10px;
}
.logo span {
	font-weight: 800;
	font-size: 1.2rem;
}


/* Theme switcher */

.toggle-container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.toggle-container span {
	font-size: 0.9rem;
	font-weight: 500;
	margin-right: 0.6rem;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	display: none;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: calc(var(--theme-toggler-height) * 2);
	height: var(--theme-toggler-height);
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: calc(var(--theme-toggler-height) * 0.05);
	left: calc(var(--theme-toggler-height) * 0.05);
	width: calc(var(--theme-toggler-height) * 0.9);
	height: calc(var(--theme-toggler-height) * 0.9);
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: var(--map-background);
}

input:checked + label:after {
	left: calc(100% - var(--theme-toggler-height)*0.05);
	transform: translateX(-100%);
}

label:active:after {
	width: calc(var(--theme-toggler-height) * 1.1);
}
