/* Search Bar */

.search-container {
    position: relative;
    grid-area: search;
}

.search-container input {
    width: 100%;
    margin: 0;
    padding: 5px 40px;
    box-sizing: border-box;
    height: 100%;
    background-color: var(--card-body);
    color: var(--text-color);
    border-radius: 15px;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

.cancel-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    outline: none;
    border: none;
    cursor: pointer;
}
.search-container span {
    font-size: 1.4em;
    color: var(--text-color);
}

.search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}