.statistics-container {
    height: 100%;
    grid-area: stats;
}

.table-container {
    position: relative;
    padding-top: var(--table-headers-height);;
    border-radius: 10px;
    overflow: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
}

/* Columns */
tr td:first-child, tr th:first-child { /* First column */
    padding-left: 10px;
    width: 10%;
}
tr td:nth-child(2), tr th:nth-child(2) { /* Second column */
    width: 38%;
}
tr td:nth-child(3), tr th:nth-child(3) { /* Thirdd column */
    width: 26%;
}
tr td:nth-child(3), tr th:nth-child(4) { /* Thirdd column */
    width: 26%;
}

/* Cells */
th {
    padding-right: 5px;
    height: var(--table-headers-height);
    box-sizing: border-box;
    text-align: left;
    font-size: 0.8rem;
    color: white;
    user-select: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
}
th span {
    font-size: 0.6rem;
    font-weight: 500;
}
th sup {
    font-size: .5rem;
    /* vertical-align: top; */
}
td {
    padding-top: var(--cell-vertical-padding);
    padding-bottom: var(--cell-vertical-padding);
    padding-right: 5px;
    font-size: 0.8rem;
}
tbody tr:nth-child(even) {
    background-color: #fff;
}

/* Fixed headers */
.table-head {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #051E34;
}

.table-body {
    max-height: calc(65vh - var(--table-headers-height) - var(--grid-gap-size)*4);
    overflow: overlay;  /* other option could be auto */
    background-color: #eee;
}

/* Scrollbar */
::-webkit-scrollbar {   /* width */
    width: 5px;
}
::-webkit-scrollbar-track {  /* Track */
    background: none
}
::-webkit-scrollbar-thumb { /* Handle */
    background: #888;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover { /* Handle on hover */
    background: #555;
}


/* Details & animations*/
.pointer {
    cursor: pointer;
}

.sort-icon {
    margin-left: 5px;
    height: 0.7rem;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    -ms-transition: -ms-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
}

.rotated {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.extra-rotated {
    transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
}

