:root {
    font-size: 15px;
    --table-headers-height: 40px;
    --grid-gap-size: 20px;
    --cell-vertical-padding: 10px;
    --theme-toggler-height: 20px;
}

body {
    background-color: var(--background-color);
    margin: 0;
    height: 100%;
}

.App {
    margin: auto;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 35%;
    grid-template-rows: 1fr 50vh;
    grid-column-gap: var(--grid-gap-size);
    grid-row-gap: var(--grid-gap-size);
    grid-template-areas: 
    "map card"
    "map stats";
    height: 93vh;
    padding: var(--grid-gap-size) 0;
    max-width: 95%;
    margin: auto;
    box-sizing: border-box;
}

/* Loading screen */

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.loading-container h1 {
    margin: 0;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2em;
}

/* Media Queries */


@media only screen and (max-width: 1150px) {
    :root {
        --table-headers-height: 40px;
        --cell-vertical-padding: 9px;
    }

    .main-container {
        grid-template-columns: 2fr 3fr;
        grid-template-rows: 35vh 1fr;
        grid-template-areas: 
            "card stats"
            "map map";
    }

}

@media only screen and (max-width: 1000px) {
    .main-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 700px) {
    :root {
        --table-headers-height: 40px;
        font-size: 14px;
    }
    .main-container {
        height: 100%;   /* the container extends as much as necessary and body become scrollable */
        grid-template-columns: 1fr;
        grid-template-rows: 35vh 30vh 40vh;
        grid-template-areas: 
            "card"
            "map"
            "stats";
    }
}

@media only screen and (max-width: 600px) {
    :root {
        font-size: 13px;
    }
}
