.leaflet-container {
    margin: 0;
    background-color: #d9ebeb;
    grid-area: map;
    border-radius: 10px;
}

.legend {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
}

.legend-item {
    padding: 0;
    margin: 0;
    height: 15px;
}

.legend-item i {
    height: 15px;
    width: 15px;
    float: left;
    margin-right: 5px;
    border: 1px solid #555;
    box-sizing: border-box;
}

.legend-item span {
    font-size: 10px;
}

#country-hover-name {
    position: absolute;
    left: 50%;
    bottom: 3%;
    transform: translateX(-50%);
    z-index: 800;
    background-color: #d9ebebb7;
    padding: 5px 10px;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
}

#country-hover-name:empty {
    display: none;
}