.leaflet-container {
    margin: 0;
    /* background-color: #d9ebeb; */
    background: var(--map-background);
    grid-area: map;
    border-radius: 10px;
}

/* Legend */

.legend {
    background-color: var(--legend-background);
    border-radius: 10px;
    padding: 10px;
    color: var(--text-color);
}

.legend-item {
    padding: 0;
    margin: 0;
    height: 1rem;
}

.legend-item i {
    height: 1rem;
    width: 1rem;
    float: left;
    margin-right: 5px;
    border: 1px solid #555;
    box-sizing: border-box;
}

.legend-item {
    font-size: 0.7rem;
    line-height: 1.5em;
    font-family: 'Poppins', sans-serif;
}

.legend-title {
    text-transform: capitalize; 
    font-family: 'Poppins', sans-serif; 
    font-weight: 600;
    margin-bottom: 0.5em;
    text-align: center;
}



#country-hover-name {
    position: absolute;
    left: 50%;
    bottom: 3%;
    transform: translateX(-50%);
    z-index: 800;
    background-color: var(--map-background-opacity);
    color: var(--text-color);
    padding: 5px 10px;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
}

#country-hover-name:empty {
    display: none;
}

/* Zoom Control */

.leaflet-control-zoom {
    border: 1px solid #777 !important;
    border-radius: 40px;
    overflow: hidden;
}

.leaflet-control-zoom a {
    background-color: var(--card-body) !important;
    color: var(--text-color) !important;
}
.leaflet-control-zoom a:hover {
    background-color: #cad1e0 !important;
}

.leaflet-control-zoom-in {
    border-bottom: 1px solid #777 !important;
}

.leaflet-control-attribution {
    background-color: var(--card-body) !important;
}